---
const { name, gender, size, pedigree, birthDate, state } = Astro.props;
---

<div>
  <p>Genero: { gender }</p>
  <p>Tamaño: { size }</p>
  <p>Raza: { pedigree }</p>
  <p>Edad: { birthDate }</p>
  <p>Estado: { state }</p>
</div>